

#Trabajos{
    background: blue;
    font-size: 150%;
    padding: 5% 0% 5% 5%;
    margin: 0% 20% 0% 20%;
    border-radius: 50px;
}

@media (max-width: 1200px) {
    
}

@media (max-width: 600px) {

}

@media (max-width: 425px) {

}