---
import Projects from '../components/Projects.astro';
import Hero from '../components/Hero.astro';
import Nav from '../components/Nav.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/index.css'
import Educacion from '../components/Educacion.astro';
---

<Layout>
		<Nav />
		<Hero />
		<Projects />
		<Educacion />
	<div id="Trabajos">
		<h1>Trabajos.</h1>
	</div>
	<div id="Contacto">Contacto</div>
	<div id="footer">Footer</div>
</Layout>

<script>
    
</script>
