<div id="Educacion">
    <h1 id="title"><img src="/formacionacademica.png" alt="imagen-formacion">Formación Academica.</h1>
    <div class="title1">
        <h4>Educación Secundaria Obligatoria</h4>
        <p>2016-2017 | IES Majuelo</p>
        <p>2017-2020 | IES Joaquín Turina</p>
    </div>
    <div class="title2">
        <h4>Grado Medio de Sistemas Microinformáticos y Redes</h4>
        <p>2020-2022 | ADA ITS</p>
    </div>
    <div class="title3">
        <h4>Grado Superior de Desarrollo de Aplicaciones Web</h4>
        <p>2023-Actualmente | MEDAC</p>
    </div>
</div>

<style>
    #Educacion{
        padding: 5% 0% 5% 5%;
        margin: 2% 20% 2% 20%;
        border-radius: 50px;
    }

    #title{
        display: flex;
        align-items: center;
        margin: 0% 0% 0% 0%;
        padding: 0% 0% 0% 0%;
    }

    #title img{
        width: 5%;
        height: auto;
        margin: 0% 2% 0% 0%;
    }

    @media (max-width: 964px) {
        #Educacion{
        padding: 5% 0% 5% 5%;
        margin: 2% 10% 2% 10%;
        border-radius: 50px;
    }

    #title{
        display: flex;
        align-items: center;
        margin: 0% 0% 0% 0%;
        padding: 0% 0% 0% 0%;
    }

    #title img{
        width: 7%;
        height: auto;
        margin: 0% 2% 0% 0%;
    }
    }

    @media (max-width: 600px) {
        #Educacion{
        padding: 5% 0% 5% 5%;
        margin: 2% 10% 2% 10%;
        border-radius: 50px;
    }

    #title{
        display: flex;
        align-items: center;
        margin: 0% 0% 0% 0%;
        padding: 0% 0% 0% 0%;
    }

    #title img{
        width: 20%;
        height: auto;
        margin: 0% 3% 0% 0%;
    }
    }

    @media (max-width: 425px) {
        #Educacion{
        padding: 5% 0% 5% 5%;
        margin: 2% 10% 2% 10%;
        border-radius: 50px;
    }

    #title{
        display: flex;
        align-items: center;
        margin: 0% 0% 0% 0%;
        padding: 0% 0% 0% 0%;
    }

    #title img{
        width: 20%;
        height: auto;
        margin: 0% 2% 0% 0%;
    }
    }
</style>