<div id="Trabajos">

    <h1 id="title"><img src="/trabajo.svg" alt="imagen-formacion">Experiencia Laboral.</h1>
    <div class="title1">
        <div class="left1">
            <h3>Tecnico en Sistemas Microinformaticos y Redes </h3>
            <h4>Fibes / Fibratel</h4>
            <p> Septiembre de 2022 - Diciembre de 2022 </p>
        </div>
        <div class="right1">
            <p>Trabajo realizado durante las practicas de 3 mesese para conseguir el titulo de Tecnico en Sistemas Microinformaticos y Redes, 
                el cual es realizado con la empresa Fibratel en el Palacio de Congresos y Exposiciones de Sevilla (FIBES). En el cual    
                se realizaron tareas de mantenimiento y reparacion de equipos, ademas de la instalacion y configuracion de redes.</p>
            </p>
        </div>
    </div>

    <div class="title2">
        <div class="left2">
            <h3>Hostelería</h3>
            <h4>Mc Donald´s Sevilla - Republica Argentina</h4>
            <p>Octubre de 2024 - Noviembre de 2024</p>
        </div>
        <div class="right2">
            <p>Trabajo realizado durante 2 meses a jornada parcial mientras realizaba la formación del Grado Superior de Desarrollo de Aplicaciones
                Web. En el cual se realizaron tareas de cocina, anteción al cliente y limpieza del local. Tras dos meses se dejo para centrarme mejor 
                en la formación academica </p>
            </p>
        </div>
    </div>
</div>

<style>
    #Trabajos{
        padding: 5% 0% 5% 5%;
        margin: 2% 20% 2% 20%;
        border-radius: 50px;
    }     
    #Trabajos h3{
            font-size: 1.5em;
            color: #88A9C3;
            margin-bottom: 1%;
    }

    #Trabajos h4{
        font-size: 1.1em;
        color: #97a5af;
        margin-top: 1%;
    }
    #title{
        display: flex;
        align-items: center;
        margin: 0% 0% 0% 0%;
        padding: 0% 0% 0% 0%;
    }

    #title img{
        width: 5%;
        height: auto;
        margin: 0% 2% 0% 0%;
    }


    .title1{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .left1{
        width: 50%;
    }

    .right1{
        width: 50%;
    }

    .title2{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .left2{
        width: 50%;
    }

    .right2{
        width: 50%;
    }

@media (max-width: 964px) {
    #Trabajos{
        padding: 5% 0% 5% 5%;
        margin: 2% 10% 2% 10%;
        border-radius: 50px;
    }

    #title{
        display: flex;
        align-items: center;
        margin: 0% 0% 0% 0%;
        padding: 0% 0% 0% 0%;
    }

    #title img{
        width: 7%;
        height: auto;
        margin: 0% 2% 0% 0%;
    }

    .title1{
        display: flex;
        flex-direction: column;
    }

    .left1{
        width: 100%;
    }

    .right1{
        width: 100%;
    }

    .title2{
        display: flex;
        flex-direction: column;
    }

    .left2{
        width: 100%;
    }

    .right2{
        width: 100%;
    }
}

@media (max-width: 600px) {
    #title{
        display: flex;
        align-items: center;
        margin: 0% 0% 0% 0%;
        padding: 0% 0% 0% 0%;
    }

    #title img{
        width: 18%;
        height: auto;
        margin: 0% 3% 0% 0%;
    }
}


</style>